<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.zhangsken.liblogutils">
  <application>
        <activity
			android:resizeableActivity="true"
            android:name=".LogViewActivity"
            android:label="@string/logview_name" >
        </activity>
    </application>
</manifest>
